@import "./assets/styles/variables";


#header {
  background-image: linear-gradient($primarycolor, $secondarycolor, $tertiarycolor);
  margin-bottom: 20px;
  color: $tertiarycolor;
  display: flex;
  font-family: $primaryfont;
  justify-content: center;
  width: 100vw;
}

.nav__ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: $quaternarycolor;
  color: $tertiarycolor;
  font-family: $secondaryfont;
}

#emoji-display {
  background-color: $tertiarycolor;
  width: 100vw;
  height: 400px;
  display: block;
  justify-content: center;

  .emojis {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
    font-size: 60px;
  }

}

#answerBox {
  margin-top: 10px;
  margin-left: 50vw;

}
#enter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    size: 10px;
    font-size: 18px;
    width: 50px;
    height: 30px;
    background-color: $quaternarycolor;
    color: $tertiarycolor;
    border-radius: 5px;
  &:hover{
color: $quaternarycolor;
background-color: $tertiarycolor;

    }
}




@media screen and (min-width: 768px) {
  #header{
    font-size: 70px;
    padding: 20px;
  } 
  .nav__ul{
    padding: 10px;
    font-size: 25px;
  }
  #emoji-display{
    height: 550px;
  }
  .emojis{
    font-size: 150px;
   
  }
  #answerBox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50vw;
  }
  #enter{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50vw;
  }
}
