* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}
body .section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .section1 #header {
  text-align: center;
  background-image: linear-gradient(#78c800, #FF8811, #FFF8F0);
  margin-bottom: 10px;
  color: #FFF8F0;
  font-family: din-round, sans-serif;
  padding: 10px;
}
body .section1 .nav__ul {
  list-style-type: none;
  justify-content: space-evenly;
  background-color: #6654A0;
  color: #FFF8F0;
  font-family: "Fjalla One", sans-serif;
  display: flex;
}
body .section1 .nav__ul li {
  text-align: center;
}
body #emoji-display {
  background-color: #FFF8F0;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body #emoji-display .emojis {
  padding-top: 150px;
  text-align: center;
  font-size: 80px;
}
body .section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .section3 #answerBox {
  margin-top: 10px;
  margin-left: 50vw;
}
body .section3 #enter {
  margin-top: 10px;
  font-size: 18px;
  width: 50px;
  height: 30px;
  background-color: #6654A0;
  color: #FFF8F0;
  border-radius: 5px;
}
body .section3 #enter:hover {
  color: #6654A0;
  background-color: #FFF8F0;
}

@media screen and (min-width: 768px) {
  body .section1 #header {
    font-size: 70px;
    padding: 20px;
  }
  body .section1 .nav__ul {
    padding: 10px;
    font-size: 25px;
  }
  body #emoji-display {
    height: 550px;
  }
  body .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .section3 #answerBox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50vw;
  }
}