@import "./assets/styles/variables";


  #header {  
  background-image: linear-gradient($primarycolor, $secondarycolor, $tertiarycolor);
  margin-bottom: 20px;
  color: $tertiarycolor;
  display: flex;
  font-family: $primaryfont;
  justify-content: center;
  width: 100vw;
}

.nav__ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  background-color: $quaternarycolor ;
  color: $tertiarycolor;
  font-family: $secondaryfont;
}
p{
  margin-bottom: 0px;
background-color: $tertiarycolor;
width: 500px;
height: 400px;
display: block;
justify-content: center;

}
#answerDisplay{
  height: 10vh;
  width: 100vw;
}
#answerBox{
  width: 100vw;
}
